@charset "UTF-8";

html, body {
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 1em;
}
 a:hover {
    text-decoration: underline;
}
 a {
    color: white;
    text-decoration: none;
}
section {
     padding: 10vh;
     font-size: 1.2em;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 10vh;
   line-height: 35px;
}
section.imagem p {
    background-color: rgba(255, 232, 232, 0.397);
}

section.imagem {
    background-color: rgba(46, 46, 46, 0.767);
    color: white;
}

footer{
    color: aliceblue;
    background-color: black;
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer > a{
    color: aliceblue;
}
